@media screen and (max-width: 1920px) {
    
    .caja_Seccion_medio .titulo_imagen{
        transform: translate(-180%, -50%);
    }
    
}

@media screen and (max-width: 1600px) {
    
    .caja_Seccion_medio .titulo_imagen{
        transform: translate(-230%, -50%);
    }
    
}

@media screen and (max-width: 1366px) {
    #header {
        width: calc(85% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(85% - 10px);
    }
    
    .caja_Seccion_medio .titulo_imagen{
        transform: translate(-130%, -50%);
    }
    
    #footer {
        width: calc(85% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(85% - 10px);
    }

    .div-content .left h2{
        font-size: 15px;
    }

    .right .right-column a{
        font-size: 14px;
    }
    
    .section.bottom-section.fixed {
        width: 84.3%;
    }
    
    main{
        width: calc(85% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(85% - 10px);
    }

    
}

@media screen and (max-width: 1280px) {
    #header {
        width: calc(95% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(95% - 10px);
    }

    #footer {
        width: calc(95% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(95% - 10px);
    }

    main{
        width: calc(95% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(95% - 10px);
    }

    .section.bottom-section.fixed {
        width: 94.2%;
    }

    .div-content .left h2{
        font-size: 18px;
    }
    
    .right .right-column a{
        font-size: 16px;
    }

    .caja_Seccion_medio .titulo_imagen{
        transform: translate(-137%, -50%);
    }
}

@media screen and (max-width: 1024px) {
    .contenedor-cards .contenedor-card {
        width: calc(33.33% - 20px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(33.33% - 20px);
    }

    .caja_Seccion_medio .titulo_imagen{
        transform: translate(-108%, -50%);
    }

    .div-content .left h2{
        font-size: 16px;
    }
}

@media screen and (max-width: 800px) {
    #header {
        width: calc(100% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(100% - 10px);
    }

    .bottom-left {
        width: 30%; /* Cada sección ocupa el 50% del ancho de bottom-content */
    }

    .bottom-right {
        width: 70%; /* Cada sección ocupa el 50% del ancho de bottom-content */
    }

    .bottom-right nav ul li {
        font-size: 15px;
    }
    
    #footer {
        width: calc(100% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(100% - 10px);
    }

    main{
        width: calc(100% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(100% - 10px);
    }

    .div-content .left h2{
        font-size: 12px;
    }
    
    .right .right-column a{
        font-size: 13px;
    }
    
    .caja_Seccion_medio .titulo_imagen{
        transform: translate(-110%, -50%);
        font-size: 38px;
    }

    .section.bottom-section.fixed {
        width: 98.7%;
    }
}