@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f5f5f5;
}

#header {
    margin: 0;
    padding: 0;
    width: calc(80% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
    max-width: calc(80% - 10px);
}

#footer {
    margin: 0;
    padding: 0;
    width: calc(80% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
    max-width: calc(80% - 10px);
}

main{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    width: calc(80% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
    max-width: calc(80% - 10px);
}

.contenedor_vista_principal{
    display: flex;
    flex-direction: column;
    background-color: skyblue;
    width: 100%;
    height: auto;
    justify-content: center;
}

.caja_seccion_arriba{
    background-color:yellow;
    display: flex;
    width: 100%;
    height: 115px;
    box-sizing: border-box;
}

i{
    margin-right: 10px;
}

.caja1{
    width: 25%;
    height: 115px;
    padding: 10px;
    display: flex;
    background-color: #76A56B;
    color: white;
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.caja2{
    flex: 1;
    width: 80%;
    height: 115px;
    display: flex;
    background-color: blue;
    box-sizing: border-box;
    flex-direction: column;
}

.caja3{
    width: 100%;
    height: 50%;
    display: flex;
    background-color: black;
    box-sizing: border-box;
}

.caja4{
    width: 50%;
    height: 100%;
    display: flex;
    background-color: #5D5D5D;
    color: white;
    font-size: 18px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.caja4 a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.caja5{
    width: 50%;
    height: 100%;
    display: flex;
    background-color: #5D5D5D;
    color: white;
    font-size: 18px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.caja5 a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.caja6{
    width: 100%;
    height: 50%;
    display: flex;
    background-color: rgb(255, 123, 0);
    box-sizing: border-box;
}

.caja7{
    width: 33.33%;
    height: 100%;
    display: flex;
    background-color: #D8D8D8;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.caja7 a{
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.caja9{
    width: 33.33%;
    height: 100%;
    display: flex;
    background-color: #D8D8D8;
    border-left: 1px black solid;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.caja9 a{
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.caja10{
    width: 33.33%;
    height: 100%;
    display: flex;
    background-color: #D8D8D8;
    border-left: 1px black solid;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.caja10 a{
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.caja_Seccion_medio{
    position: relative;
    background-color: chocolate;
    width: 100%;
    height: 380px;
    overflow: hidden;
    position: relative;
}

.caja_Seccion_medio img{
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: cover;
}

.titulo_imagen{
    font-size: 3rem;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-250%, -50%);

}

.caja_seccion_abajo{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: white;
}

/*Propiedades de tematicas*/

.contenedor-centralizado {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    padding: 35px;
}

.contenedor-cards {
    display: flex;
    flex-wrap: wrap; /* Los contenedores flex se envuelven cuando no hay suficiente espacio */
    justify-content: flex-start; /* Los contenedores se alinean a la izquierda */
    width: calc(100% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
    max-width: calc(100% - 10px);
}

.contenedor-cards .contenedor-card {
 
    overflow: hidden;
    position: relative;
    width: calc(25% - 20px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
    max-width: calc(25% - 20px);
    height: 400px;
    border-radius: 10px; /* Agrega un borde redondeado de 5px al contenedor */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1); /* Añade una sombra */
    margin-right: 20px; /* Espacio entre los contenedores */
    margin-bottom: 20px; /* Espacio debajo de los contenedores */
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Agrega una transición suave para la sombra y el movimiento */
}

.contenedor-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 15); /* Cambia la sombra al pasar el mouse por encima */
    transform: translate(-5px, -5px); /* Mueve el contenedor hacia la esquina superior izquierda */
}

.contenedor-cards .contenedor-card .seccion1 {
    height: 40%;
}

.seccion1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.seccion2 {
    height: 60%;
    display: flex;
    flex-direction: column;
}

.seccion2 .titulo{
    height: 78%;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}

.seccion2 .titulo h4{
    font-size: 15px;
}

.seccion2 .titulo p{
    font-size: 14px;
}

.seccion2 .boton_texto{
    display: flex;
    justify-content: flex-end;
    padding-right: 13px;
    height: 25px;
}

.seccion2 .boton_texto a{
    width: 100px;
    height: 25px;
    display: flex; /* Para que tenga la propiedad flex */
    align-items: center; /* Centra verticalmente el contenido */
    margin-bottom: 1px;
    border-radius: 5px;
    text-decoration: none; /* Quita el subrayado de los enlaces */
    background-color: #099409a2;
    color: white;
    cursor: pointer;
    justify-content: center;
    border: 2px black solid;
}