@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Estilos para el encabezado */
header {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.section {
    width: 100%;
    text-align: center;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.top-section {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 30px 0;
    height: 22px; /* Ajusta la altura según sea necesario */
}

.inner-container {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.inner-container a .imgser {
    margin-top: 20px;
    width: 180px; /* Ajusta el ancho de las imágenes según tus necesidades */
    height: auto;
}

.inner-container a .imgmid {
    width: 270px; /* Ajusta el ancho de las imágenes según tus necesidades */
    height: auto;
}

.middle-section {
    background-color: #4CAF50; /* Verde */
    display: flex;
    justify-content: center; /* Centra el .middle-content horizontalmente */
    align-items: center;
    overflow: hidden; /* Asegura que el contenido no se desborde */
    padding: 2px 0 2px 0;
    min-height: 33px;
}

.middle-content {
    width: 100%; /* Ocupa el 70% del ancho de la .middle-section */
    display: flex;
    justify-content: flex-end; /* Alinea los iconos a la derecha */
    align-items: center;
}

.icon-container {
    display: flex;
    align-items: center;
    margin-right: 35px;
}

.icon {
    padding: 0 10px;
    color: white;
    text-decoration: none;
}

.icon-container a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.translate-container {
    display: flex;
    flex-direction: row;
    gap: 1px;
}

#google_translate_element {
    display: none;
    flex-direction: row;
}

#google_translate_element .goog-te-gadget .goog-te-gadget-simple {
    font-family: "Raleway", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}

.separator {
    height: 24px; /* Altura de la línea vertical */
    width: 1px;
    background-color: rgba(255, 255, 255, 0.8); /* Blanco con transparencia del 80% */
    margin: 0 10px;
}

.bottom-section {
    background-color: rgba(255, 255, 255, 0.75); /* Blanco con transparencia */
    display: flex;
    justify-content: center; /* Centra el contenido de bottom-content */
    width: 100%;
    z-index: 10; /* Asegura que esté por encima del contenido */
    padding: 1px 0 1px 0;
    position: relative; /* Posición inicial relativa */
}

.section.bottom-section.fixed {
    width: 71.75%;
    position: fixed;
    top: 0;
}

.bottom-content {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-left, .bottom-right {
    width: 50%; /* Cada sección ocupa el 50% del ancho de bottom-content */
    padding: 0 20px 0 15px;
}

.bottom-left {
    text-align: left;
}

.bottom-left a img {
    width: 250px; /* Ajusta el ancho de la imagen según tus necesidades */
    height: auto;
}

.bottom-right {
    text-align: right;
}

.bottom-right nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 0 5px 0 5px;
    margin: 0;
}

.bottom-right nav ul li {
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    display: inline-block;
    margin-left: 45px;
}

.bottom-right nav ul li a {
    text-decoration: none;
    color: rgb(37, 156, 26); /* Ajusta el color del texto según tus necesidades */
}

.bottom-right nav ul li:last-child a {
    color: white;
    background-color: #4CAF50; /* Verde */
    border-radius: 5px;
    padding: 5px 10px;
}

/* Transiciones y clases para animaciones */
.hidden {
    transform: translateY(-100%);
    opacity: 0;
}

.visible {
    transform: translateY(0);
    opacity: 1;
}

/* Estilos para el menú desplegable */
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 20px;  
    border: none;
    outline: none;
    color: rgb(37, 156, 26); /* Ajusta el color del texto según tus necesidades */
    background-color: inherit;
    font-family: inherit;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    font-family: "Raleway", sans-serif;
    color: #499c53 !important;
    font-weight: 400;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}