@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f5f5f5;
}

#header {
    margin: 0;
    padding: 0;
    width: calc(72.2% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
    max-width: calc(72.2% - 10px);
}

#footer {
    margin: 0;
    padding: 0;
    width: calc(72.2% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
    max-width: calc(72.2% - 10px);
}

main{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    width: calc(72.2% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
    max-width: calc(72.2% - 10px);
    margin-top: -3.55%;
}

/*Propiedades del Slider*/

.slider{
    min-height: 58.5vh;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
    color: #ffffff;
}

.slider .list .item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}

.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .list .item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
        to right, #000 1%, transparent
    );
}

.slider .list .item .content{
    position: absolute;
    left: 5%;
    top: 17%;
    width: 400px;
    max-width: 80%;
    z-index: 1;
    text-align: justify;
}

.slider .list .item .content p{
    font-family: "Raleway", sans-serif;
    font-size: 14px;
}

.slider .list .item .content p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 10px;
}
.slider .list .item .content h2{
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

.slider .list .item .content .boton{
    font-family: "Raleway", sans-serif;
    position: relative;
    font-size: 15px;
    margin: 2px 0 15px 0;
    padding: 10px 6px 0.1px 15px;
    border-radius: 20px;
    width:320px;
    height:30px;
    border: 4px #F1F3F1 solid;
    background-color: transparent;
    color: #F1F3F1;
    display: block;
    text-align: left;
    text-decoration: none;
}
.slider .list .item .content .boton:hover{
    background-color: #098509;
    color: #ffffff;
    cursor: pointer;
}

.slider .list .item.active{
    opacity: 1;
    z-index: 2;
}
@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3){
transform: translateY(30px);
filter:blur(20px);
opacity: 0;
animation: showContent .5s .7s ease-in-out 1 forwards;
}
.slider .list .item.active h2{
    animation-delay: 1s;
}
.slider .list .item.active p:nth-child(3){
    animation-duration: 1.3s;
}

.circle{
    position: absolute;
    bottom: 20px;
    z-index: 3;
    display: flex;
    gap: 15px;
    width: 100%;
    height: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
}

.circle::-webkit-scrollbar{
    width: 0;
}
.circle .item{
    width: 10px;
    height: 10px;
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
}

.circle .item.active{
    filter: brightness(1);
}
.circle:hover {
    cursor: pointer;
}

/*Propiedades de tematicas*/

.tematica-texto {
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-size: 29.5px;
    margin-top: 80px;
    font-weight: 300;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    width: calc(100% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
    max-width: calc(100% - 10px);
}

.container .card {
    width: calc(25% - 5px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
    max-width: calc(25% - 5px);
    max-height: 400px;
    box-sizing: border-box;
    padding: 10px;
}

.container .card .card-content {
    background-color: #f2f2f2;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    position: relative;
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Agrega una transición suave para la sombra y el movimiento */

}

.container .card .card-content:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 15); /* Cambia la sombra al pasar el mouse por encima */
    transform: translate(-5px, -5px); /* Mueve el contenedor hacia la esquina superior izquierda */
}

.container .card .card-content .top-section {
    height: 270px;
    background-color: #d9e6f2;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden; /* Oculta cualquier desbordamiento */
}

.container .card .card-content .top-section img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin deformarse */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; /* Asegura que la imagen esté detrás de los botones */
}

.container .card .card-content .top-section .buttons {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 1; /* Asegura que los botones estén por encima de la imagen */
}

.container .card .card-content .top-section .buttons a {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    align-items: center;
    padding: 5px 4px;
    border-radius: 10px; /* Borde redondeado para simular un botón */
    background-color: #000000;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s, opacity 0.3s;
    word-break: break-word; /* Permite que el texto largo se divida en múltiples líneas */
    max-width: 140px; /* Ajusta el ancho máximo del botón según sea necesario */
    min-height: 30px;
}

.container .card .card-content .top-section .buttons a:hover {
    background-color: #505050; /* Cambio de color al pasar el ratón */
    cursor: pointer;
}

.container .card .card-content .top-section .buttons i {
    margin-right: 8px;
    font-size: 25px;
}

.container .card .card-content .bottom-section {
    height: 130px;
    background-color: #ffffff;
    display: flex;
}

.container .card .card-content .bottom-section .left-section {
    width: 45%;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    margin-top: 20px;
    margin-left: 15px;
}

.container .card .card-content .bottom-section .left-section h3 {
    font-family: "Raleway", sans-serif;
    padding: 2px;
    color: #333;
    font-size: 14px;
    margin: 0;
    text-align: left;
}

.container .card .card-content .bottom-section .right-section {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.container .card .card-content .bottom-section .right-section ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.container .card .card-content .bottom-section .right-section ul li {
    display: flex;
    align-items: center;
    margin-bottom: 8px; /* Espaciado entre los elementos de la lista */
}

.container .card .card-content .bottom-section .right-section ul li i {
    margin-right: 4px; /* Espaciado consistente entre el icono y el texto */
    flex-shrink: 0; /* Evita que el icono se reduzca */
    color: #000;
}

.container .card .card-content .bottom-section .right-section ul li a {
    font-family: "Raleway", sans-serif;
    font-weight: 750;
    font-size: 11px;
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
}

/*PROPIEDADES ACERCA DE*/

.seccion_body{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: calc(100% - 10px); /* Ancho máximo de cada contenedor (33.33% del ancho del padre menos el espacio entre ellos) */
    max-width: calc(100% - 10px);
    font-family: sans-serif;
    margin: auto;
    padding-bottom: 30px;
    box-sizing: border-box;

}

.imagen_sec_body{
    flex: 1;
    padding: 0;
    margin: 10px;
    left: 2%;
    display: block;
    max-width: calc(30% - 10px);
    width: 35%;
    height: 250px;
    position: relative;
    overflow: hidden;
    max-height: 50%;
    border-radius: 20px; 
}

.imagen_sec_body img {
    width: 100%; /* La imagen ocupa todo el ancho de la sección */
    height: auto; /* La altura se ajusta automáticamente */
    min-height: 100%;
}

.titulo_principal_body{
    font-family: "Raleway", sans-serif;
    text-align: justify;
}

.texto_sec_body{
    font-family: "Raleway", sans-serif;
    max-width: calc(60% - 10px);
    width: 65%;
    flex: 1;
    margin-right: 80px;
    padding: 20px;
    text-align: justify;
}

/*PROPIEDADES SLIDER_BODY*/

.slider-container {
    font-family: "Raleway", sans-serif;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: calc(100% - 5px); /* Ancho máximo de cada contenedor (33.33% del ancho del padre menos el espacio entre ellos) */
    max-width: calc(100% - 5px);
    box-sizing: border-box;
    overflow: hidden;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/slider/slider-body/slider_body.jpg) no-repeat center 50%; /* Ajustar la posición vertical de la imagen */
    background-size: auto; /* Mantener el tamaño original de la imagen */
    background-attachment:fixed; /* La imagen no se reescala y permanece fija */
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    min-height: 250px;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    padding: 60px 60px 20px 60px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente */
    text-align: center; /* Centrar el texto */
    z-index: 2;
}

.titulo-slidebody , .texto-slidebody {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 35px;
    color: #ffffff;
    margin: 0;
    
}

.texto-slidebody {
    font-size: 15px;
    word-break: break-word; /* Esta línea asegura que las palabras largas se corten */
    text-align: justify; /* Justificar el texto del párrafo */
    padding: 10px;
}

.prev:hover {
    background-color: rgba(0,0,0,0.8);
}

.next:hover {
    background-color: rgba(0,0,0,0.8);
}

.prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    left: 10px;
    z-index: 3;
}

.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    right: 10px;
    z-index: 3;
}

.dots {
    font-family: "Raleway", sans-serif;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    width: calc(100% - 5px); /* Ancho máximo de cada contenedor (33.33% del ancho del padre menos el espacio entre ellos) */
    max-width: calc(100% - 5px);
    box-sizing: border-box;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #717171;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    z-index: 3;
}

.dot.active {
    background-color: #bbb;
    z-index: 3;
}



/*PROPIEDADES DE PREGUNTAS*/

.contenedor_preguntas{
    font-family: "Raleway", sans-serif;
    margin: 0 auto;
    padding: 0;
    background-color: #000000;
    width: calc(100% - 3px); /* Ancho máximo de cada contenedor (33.33% del ancho del padre menos el espacio entre ellos) */
    max-width: calc(100% - 3px);

}
    
details, .subtitulo-preguntas{
    font-family: sans-serif;
    font-size: 18px;
    background: #72856a;
    color: #ffffff;
    margin: auto;
    padding: 30px;
    box-sizing: border-box;
    cursor: pointer;
    border: 0.5px solid white;
    border-top: none;
    padding-left: 100px;
    padding-right: 100px;
}

.subtitulo-preguntas{
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-size: 33.5px;
    font-weight: 300;
    border-bottom: none;
    padding: 65px;
}

.primero{
    border-top: none;
}

.texto-preguntas{
    text-align: justify;
}

/*PROPIEDADES DE CONTACTO*/

.contenedor {
    margin: 0 auto;
    padding: 25px;
    border: 1px solid #ccc;
    width: calc(100% - 3px); /* Ancho máximo de cada contenedor (33.33% del ancho del padre menos el espacio entre ellos) */
    max-width: calc(100% - 3px);
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    position: relative; /* Necesario para la posición de la línea */
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), transparent), url('../img/contacto/backcontacto.jpg'); /* Ruta de tu imagen de fondo */
    background-size: cover; /* Ajusta el tamaño para cubrir el contenedor */
    background-position: center center; /* Centra la imagen */
    background-attachment: fixed; /* Fija la imagen para que no se desplace con el scroll */
}

.sub-contenedor {
    box-sizing: border-box; /* Para incluir el borde en el ancho total */
    padding: 10px;
    position: relative;
}

.titulo {
    font-family: "Raleway", sans-serif;
    border: none; /* Quitar el borde del contenedor del título */
    padding-bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.titulo .titulo-contacto {
    margin-top: 60px;
    color: #ffffff;
    font-size: 33px;
    font-weight: 300;
}

.contenido-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.contenido-flex .izquierda  .label-izquierda {
    color: #ffffff;
}

.contenido-flex::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background-color: #ffffff;
}

.izquierda {
    font-family: "Raleway", sans-serif;
    text-align: left;
    width: 48%; /* Ajustar el ancho */
    padding-left: 90px;
}

.derecha {
    font-family: "Raleway", sans-serif;
    text-align: left;
    width: 48%; /* Ajustar el ancho */
    position: relative;
    display: flex;
    flex-direction: column;
}

.texto-largo {
    margin-bottom: 40px;
    max-width: 50%; /* Limitar a 50% del contenedor */
    font-size: 16px; /* Reducir la letra a 14px */
    text-align: left; /* Alinear a la izquierda */
    margin-top: 1%; /* Agregar margen superior de 15% */
    margin-bottom: 15%;
    color: #ffffff;
}

.contenedor-inferior {
    position: absolute;
    bottom: 10px;
    right: 10px;
    max-width: 45%; /* Limitar el ancho máximo al 50% del contenedor derecho */
    background-color: rgba(255, 255, 255, 0.6);
    box-sizing: border-box; /* Incluir padding y borde en el ancho total */
    text-align: center;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}

.transparencia {
    padding: 10px;
}

.seccion {
    font-family: "Raleway", sans-serif;
    margin-bottom: 10px;
}

.iconos {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.icono-compartir {
    height: 35px;
    text-align: center;
    padding: 6px;
    color: white;
    box-sizing: border-box;
    text-decoration: none;
}

.icono-compartir:hover {
    cursor: pointer;
    text-decoration: none;
}

.f{
    background-color: #137adb;
}

.f:hover{
    background-color: #0e5ea8;
}

.w{
    background-color: #4bc51b;
}

.w:hover{
    background-color: #399415;
}

.g{
    background-color: #c93116;
}

.g:hover{
    background-color: #992814;
}

.c{
    background-color: #1bdbbb;
}

.c:hover{
    background-color: #19bba0;
}

/* Estilos para el formulario */
.formulario-contacto {
    display: flex;
    flex-direction: column;
}

.campo {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

.intextbua-contacto {
    font-family: "Raleway", sans-serif;
    padding: 8px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; /* Ocupa el 100% del ancho disponible */
    box-sizing: border-box; /* Incluir el padding y borde en el ancho total */
}

.un-boton {
    margin-left: 70%;
    width: 30%; /* Ocupa el 100% del ancho disponible */
}

.campo-flex {
    display: flex;
    justify-content: space-between;
}

.campo-flex .campo {
    width: 48%; /* Ajustar el ancho */
}

.enviar {
    margin-top: 15px;
    background-color: #098509;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.enviar:hover {
    background-color: #0a7a0a;
}