@media screen and (max-width: 2560px){
    .seccion-boton #optionSelect{
        bottom: 72%;
        position: absolute;
    }

    .contenedor_vista_principal .div-content .left h2{
        font-size: 22px;
    }
}

@media screen and (max-width: 1600px) {
    .section.bottom-section.fixed {
        width: 79.4%;
    }
    
    .seccion-boton #optionSelect{
        bottom: 49%;
    }
    
    .contenedor_vista_principal .div-content .left h2{
        font-size: 20px;
    }
}

@media  screen and (max-width: 1440px){
    .contenedor_vista_principal .div-content .left h2{
        font-size: 20px;
    }
}


@media screen and (max-width: 1366px) {
    #header {
        width: calc(85% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(85% - 10px);
    }
    
    .section.bottom-section.fixed {
        width: 84.3%;
    }
    
    .contenedor_vista_principal .div-content .left h2{
        font-size: 20px;
    }
    
    .seccion-boton #optionSelect{
        bottom: 39%;
    }

    #footer {
        width: calc(85% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(85% - 10px);
    }

    .right .right-column a{
        font-size: 14px;
    }

    main{
        width: calc(85% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(85% - 10px);
    }
}

@media screen and (max-width: 1280px) {
    #header {
        width: calc(95% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(95% - 10px);
    }

    #footer {
        width: calc(95% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(95% - 10px);
    }

    main{
        width: calc(95% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(95% - 10px);
    }
    
    .section.bottom-section.fixed {
        width: 94.2%;
    }

    .contenedor_vista_principal .div-content .left h2{
        font-size: 20px;
    }

    .seccion-boton #optionSelect{
        bottom: 34%;
    }

    .right .right-column a{
        font-size: 16px;
    }
}

@media screen and (max-width: 1024px) {

    .bottom-right nav ul li,
    .bottom-right nav ul li .dropbtn{
        font-size: 15px;
    }

    .contenedor_vista_principal .div-content .left h2{
        font-size: 20px;
    }

    .seccion-boton #optionSelect{
        bottom: 40%;
    }
}

@media screen and (max-width: 800px) {
    #header {
        width: calc(100% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(100% - 10px);
    }

    .bottom-left {
        width: 30%; /* Cada sección ocupa el 50% del ancho de bottom-content */
    }

    .bottom-right {
        width: 70%; /* Cada sección ocupa el 50% del ancho de bottom-content */
    }

    #footer {
        width: calc(100% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(100% - 10px);
    }

    main{
        width: calc(100% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(100% - 10px);
    }
    
    .section.bottom-section.fixed {
        width: 98.7%;
    }
    
    .seccion-boton #optionSelect{
        bottom: 5%;
    }

    

    .contenedor_vista_principal .div-content .left h2{
        font-size: 19px;
    }

    .right .right-column a{
        font-size: 13px;
    }

    .item{
        flex: 0 0 calc(50% - 0px);
    }

    .contenedor-card .seccion2 .titulo p{
        font-size: 13px;
    }
}

@media  screen and (max-width: 768px){
    .bottom-right nav ul .ocultar {
        display: none;
    }

    .contenedor_vista_principal .div-content .left h2{
        font-size: 18px;
    }

    .seccion-boton #optionSelect{
        bottom: 49%;
    }

    .item{
        flex: 0 0 calc(50% - 0px);
    }

    .overlay #contentH1{
        font-size: 28px;
    }
    
    .overlay #contentH2{
        font-size: 60px;
    }

    .subitem1{
        font-size: 17px;
    }

    .subitem2{
        font-size: 27px;
    }
    
    .subitem3{
        font-size: 17px;
    }
}

@media  screen and (max-width: 690px){
    .container .div-content .left h2{
     font-size: 15px;
 }
}

@media  screen and (max-width: 606px){

    .item{
        flex: 0 0 calc(100% - 0px);
    }
    
    .contenedor_vista_principal .div-content .left h2{
        font-size: 12px;
    }
}

@media  screen and (max-width: 550px){

    .item{
        flex: 0 0 calc(100% - 0px);
    }
    
    .div-content .left h2{
        font-size: 12px;
    }
}

@media  screen and (max-width: 532px){
   .contenedor_vista_principal .div-content .left h2{
    font-size: 11.5px;
   }

   .overlay #contentH1{
    font-size: 26px;
}

.overlay #contentH2{
    font-size: 52px;
}
}

@media  screen and (max-width: 500px){
    .inner-container a img {
        width: 140px; /* Ajusta el ancho de las imágenes según tus necesidades */
        height: auto;
    }

    .contenedor_vista_principal .div-content .left h2{
        font-size: 11px;
        width: 100%;
        height: 50%;
        text-align: start;
    }

    .section.bottom-section.fixed {
        width: 97.9%;
    }

    .overlay #contentH1{
        font-size: 24px;
    }
    
    .overlay #contentH2{
        font-size: 50px;
    }
    
    .subitem1{
        font-size: 15px;
    }

    .subitem2{
        font-size: 25px;
    }
    
    .subitem3{
        font-size: 15px;
    }

    .top-footer .content-wrapper {
        padding: 0 20px;
    }

    .top-footer .left-section .bottom-container {
        margin-top: 35px;
    }
}

@media  screen and (max-width: 480px){

    .contenedor_vista_principal .div-content .left h2{
        font-size: 10.2px;
        width: 100%;
        height: 50%;
        text-align: start;
    }


}

@media  screen and (max-width: 455px){

    .contenedor_vista_principal .div-content .left h2{
        font-size: 9.7px;
        width: 100%;
        height: 50%;
        text-align: start;
    }

    .overlay #contentH1{
        font-size: 22px;
    }
    
    .overlay #contentH2{
        font-size: 42px;
    }    

}



@media  screen and (max-width: 425px){
    .inner-container a img {
        width: 140px; /* Ajusta el ancho de las imágenes según tus necesidades */
        height: auto;
    }
    
    .section.bottom-section.fixed {
        width: 97.6%;
    }

    .div-content .left{
        width: 22%;
    }

    .contenedor_vista_principal .div-content .left h2{
        font-size: 10px;
        width: 100%;
        height: 50%;
        text-align: start;
    }

    .seccion-boton #optionSelect{
        bottom: 32%;
    }
    .section.bottom-section.fixed {
        width: 97.6%;
    }

    .left-section .bottom-container{
        transform: translate(42%);
    }

    .overlay #contentH1{
        font-size: 22px;
    }
    
    .overlay #contentH2{
        font-size: 40px;
    }

    .subitem1{
        font-size: 13px;
    }

    .subitem2{
        font-size: 23px;
    }
    
    .subitem3{
        font-size: 13px;
    }
}


@media  screen and (max-width: 375px){
    .caja_Seccion_medio .titulo_imagen{
        transform: translate(-100%, -50%);
        font-size: 20px; 
    }
    

    .contenedor_vista_principal .div-content .left h2{
        font-size: 17px;

    }

    .div-content .left{
        width: 40%;
    }

    .div-content .right{
        width: 60%;
    }

    .section.bottom-section.fixed {
        width: 97.3%;
    }

    .top-footer .content-wrapper{
        width: 278px;
    }

    .left-section .bottom-container{
        transform: translate(20%);
    }

    .left-section .top-container{
        font-size: 14px;
    }

    .overlay #contentH1{
        font-size: 20px;
    }
    
    .overlay #contentH2{
        font-size: 38px;
    }

    .subitem1{
        font-size: 13px;
    }

    .subitem2{
        font-size: 23px;
    }
    
    .subitem3{
        font-size: 13px;
    }
}

@media  screen and (max-width: 320px){
    .contenedor_vista_principal .div-content .left h2{
        font-size: 14px;

    }

    .top-footer .content-wrapper {
        display: flex;
        flex-wrap: wrap; /* Permitir que los elementos se envuelvan en pantallas pequeñas */
        justify-content: space-between;
        padding: 0 10px;
        width: 250px;
    }
    
    .section.bottom-section.fixed {
        width: 96.9%;
    }

    .left-section{
        height: 100%;
    }

    .right-section img{
        width: 100px;
        height: auto;
    }

    .bottom-footer p{
        font-size: 11px;
    }
    
    .left-section .bottom-container{
        transform: translate(20%);
    }

    .overlay #contentH1{
        font-size: 15px;
    }
    
    .overlay #contentH2{
        font-size: 33px;
    }
}
