@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* El contenedor principal ocupa el 100% de la altura y anchura de la pantalla */
main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.contenedor-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: beige; /* Fondo del contenedor */
    box-sizing: border-box;
}

.uno{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    flex-wrap: wrap;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    width: 250px;
    height: 90px;
    justify-content: center;
    line-height: 21px;
    max-height: 100%;
    min-height: 0px;
}

.dos{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    width: 270px;
    height: 480px;
    line-height: 21px;
    max-width: 100%;
    min-width: 0px;
    text-size-adjust: 100%;

}

.dos .imagen-logo img{
    box-sizing: border-box;
    height: 480px;
    width: 100%;
    margin-left: 12px;
}


.tres{
    box-sizing: border-box;
    display: block;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    width: auto;
    height: 60px;
    line-height: 21px;
    max-height: 100%;
    min-height: 0px;
    text-size-adjust: 100%;
}

.tres .texto-uno{
    font-size: 18px;
    margin-top: 25px;
}

.cuatro{
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.seccion-arriba{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    height: 80px;
}

.izquierda{

}

.derecha{

}
.seccion-abajo{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 23px;
    gap: 80px;
}

.seccion-abajo a{
    box-sizing: border-box;
    cursor: pointer;
    font-size: 14px;
    text-decoration-line: none;
    text-decoration-style: solid;
    color: black;
}

figure{
    text-align: center;
}

figure img{
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

figure figcaption{
    font-size: 20px;
    margin-top: 20px;
}

.cinco{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}



