main{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.contenedor_vista_principal{
    background-color: #ADBC70;
    max-width: calc(70% - 10px);
    width: 70%;
    height: auto;
    justify-content: center;
}

.caja_seccion_arriba{
    background-color:yellow;
    display: flex;
    width: 100%;
    height: 115px;
    box-sizing: border-box;
}

.caja1{
    width: 25%;
    height: 115px;
    display: flex;
    background-color: #76A56B;
    color: white;
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.caja2{
    flex: 1;
    width: 80%;
    height: 115px;
    display: flex;
    background-color: blue;
    box-sizing: border-box;
    flex-direction: column;
}

.caja3{
    width: 100%;
    height: 50%;
    display: flex;
    background-color: black;
    box-sizing: border-box;
}

.caja4{
    width: 50%;
    height: 100%;
    display: flex;
    background-color: #5D5D5D;
    color: white;
    font-size: 18px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.caja4 a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.caja5{
    width: 50%;
    height: 100%;
    display: flex;
    background-color: #5D5D5D;
    color: white;
    font-size: 18px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.caja5 a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.caja6{
    width: 100%;
    height: 50%;
    display: flex;
    background-color: rgb(255, 123, 0);
    box-sizing: border-box;
}

.caja7{
    width: 33.33%;
    height: 100%;
    display: flex;
    background-color: #D8D8D8;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.caja7 a{
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.caja9{
    width: 33.33%;
    height: 100%;
    display: flex;
    background-color: #D8D8D8;
    border-left: 1px black solid;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.caja9 a{
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.caja10{
    width: 33.33%;
    height: 100%;
    display: flex;
    background-color: #D8D8D8;
    border-left: 1px black solid;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.caja10 a{
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.boton-superior-izquierda {
    position: absolute;
    top: 15%;
    left: 17%;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000; /* Asegura que el botón esté por encima de otros elementos */
}

.contenedor {
    padding: 0;
    margin: 0;
}

.inner-div {
    position: relative;
    background-color: transparent;
}

.imagen {
    width: 100%;
    height: 500px;
    object-fit: cover; /* Ajusta la imagen para que cubra el área sin deformarse */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; /* Color del texto */
    text-align: center; /* Centra el texto */
}

.texto-superior {
    margin-bottom: 10px; /* Espaciado entre el texto superior y el título */
}

.titulo {
    font-size: 2em; /* Tamaño del título */
}

.contenedor-inferior {
    display: flex;
    flex-wrap: wrap; /* Permite que los items se envuelvan en una nueva línea */
    justify-content: flex-start; /* Alinea los items al inicio de la línea */
    padding: 0; /* Elimina el padding del contenedor inferior */
}

.item {
    flex: 0 0 calc(33.33% - 0px); /* Cada item ocupa un tercio del ancho del contenedor menos el margen */
    margin: 0; /* Elimina el margen entre los items */
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    background-color: transparent; /* Fondo transparente */
    box-sizing: border-box; /* Incluye el borde en el tamaño total del elemento */
    text-align: center; /* Centra el texto dentro de cada item */
}

.subitem {
    flex: 0 0; /* Los subitems no crecen ni se encogen */
    background-color: transparent;
}

.subitem1, .subitem3 {
    height: 50px;
}

.subitem2 {
    height: 80px;
}


.caja_seccion_final{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: white;
    align-items: center;
}

.izquierda, .derecha{
    padding: 10px;
}