@media screen and (max-width: 2560px){
}

@media screen and (max-width: 1600px) {
    #header {
        width: calc(85% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(85% - 10px);
    }

    #footer {
        width: calc(85% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(85% - 10px);
    }

    main{
        width: calc(85% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(85% - 10px);
    }
}

@media screen and (max-width: 1280px) {
    #header {
        width: calc(95% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(95% - 10px);
    }

    #footer {
        width: calc(95% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(95% - 10px);
    }

    main{
        width: calc(95% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(95% - 10px);
    }

    .menu-desplegable ul li a {
        font-size: 13px;
    }

    .contenedor-grafico-tabla{
        justify-content: flex-start; /* Los contenedores se alinean a la izquierda */
    }

}

@media screen and (max-width: 1024px) {

    .contenedor-grafico-tabla{
        display: block;
    }
    .graficos {
        width: 90%;
    }
    .tablas {
        width: 50%;
    }
}

@media screen and (max-width: 800px) {
    #header {
        width: calc(100% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(100% - 10px);
    }
 
    #footer {
        width: calc(100% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(100% - 10px);
    }

    main{
        width: calc(100% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(100% - 10px);
    }

    .graficos {
        width: 100%;
    }

    .tablas {
        width: 70%;
    }
}

@media  screen and (max-width: 690px){


    .graficos {
        position: relative;
        left: -90px; /* Ajusta el valor según lo necesites */
        transform: scale(0.9);
        width: 130%;
    }
    
    .tablas {
        width: 90%;
    }

}

@media  screen and (max-width: 550px){

    .menu-desplegable ul li a {
        font-size: 12px;
    }

    .submenu li a {
        font-size: 10px;
    }

    .graficos {
        position: relative;
        left: -90px; /* Ajusta el valor según lo necesites */
        transform: scale(0.7);
        width: 150%;
    }
    
    .tablas {
        width: 90%;
    }

}

@media  screen and (max-width: 475px){

    .graficos {
        position: relative;
        left: -120px; /* Ajusta el valor según lo necesites */
        transform: scale(0.5);
        width: 180%;
    }

}

@media  screen and (max-width: 425px){

    .graficos {
        position: relative;
        left: -120px; /* Ajusta el valor según lo necesites */
        transform: scale(0.5);
        width: 200%;
    }

}