@media screen and (max-width: 2560px){
    .container .div-content .left h2{
        font-size: 22px;
    }
}

@media screen and (max-width: 1600px) {   
    .container .div-content .left h2{
        font-size: 20px;
    }
}

@media  screen and (max-width: 1440px){
    .container .div-content .left h2{
        font-size: 20px;
    }

    .section.bottom-section.fixed {
        width: 72%;
    }

    .contenedor-card .seccion2 .titulo p{
        font-size: 14px;
    }
}

@media screen and (max-width: 1366px) {
    #header {
        width: calc(85% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(85% - 10px);
    }

    main{
        width: calc(85% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(85% - 10px);
    }
    
    #footer {
        width: calc(85% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(85% - 10px);
    }

    .section.bottom-section.fixed {
        width: 84.3%;
    }

    .container .div-content .left h2{
        font-size: 20px;
    }

    .right .right-column a{
        font-size: 14px;
    }
}

@media screen and (max-width: 1280px) {
    #header {
        width: calc(95% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(95% - 10px);
    }

    #footer {
        width: calc(95% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(95% - 10px);
    }

    main{
        width: calc(95% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(95% - 10px);
    }

    .section.bottom-section.fixed {
        width: 94.2%;
    }

    .container .div-content .left h2{
        font-size: 20px;
    }
    
    .right .right-column a{
        font-size: 16px;
    }

    .menu-desplegable ul li a {
        font-size: 13px;
    }

    .contenedor-grafico-tabla{
        justify-content: flex-start; /* Los contenedores se alinean a la izquierda */
    }

}

@media screen and (max-width: 1024px) {

    .bottom-right nav ul li,
    .bottom-right nav ul li .dropbtn{
        font-size: 15px;
    }
    
    .container .div-content .left h2{
        font-size: 18px;
    }
    .contenedor-grafico-tabla{
        display: block;
    }
    .graficos {
        width: 90%;
    }
    .tablas {
        width: 50%;
    }
}

@media screen and (max-width: 800px) {
    #header {
        width: calc(100% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(100% - 10px);
    }
    
    .bottom-left {
        width: 30%; /* Cada sección ocupa el 50% del ancho de bottom-content */
    }

    .bottom-right {
        width: 70%; /* Cada sección ocupa el 50% del ancho de bottom-content */
    }

    .bottom-right nav ul li {
        font-size: 15px;
    }

    .section.bottom-section.fixed {
        width: 98.7%;
    }

    #footer {
        width: calc(100% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(100% - 10px);
    }

    main{
        width: calc(100% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(100% - 10px);
    }

    .container .div-content .left h2{
        font-size: 17px;
    }
    
    .right .right-column a{
        font-size: 13px;
    }

   .inline-content h5{
    font-size: 15px;
   }

    .graficos {
        width: 100%;
    }

    .tablas {
        width: 70%;
    }
}

@media  screen and (max-width: 768px){

    .bottom-right nav ul .ocultar {
        display: none;
    }
    
    .container .div-content .left h2{
        font-size: 16px;
    }

    .inline-content h5{
        font-size: 14px;
       }
    
}


@media  screen and (max-width: 690px){
    .inline-content h5{
        font-size: 12px;
       }

       .container .div-content .left h2{
        font-size: 15px;
    }
    
       .graficos {
        position: relative;
        left: -90px; /* Ajusta el valor según lo necesites */
        transform: scale(0.9);
        width: 130%;
    }
    
    .tablas {
        width: 90%;
    }

    .section.bottom-section.fixed {
        width: 92%;
    }
}

@media  screen and (max-width: 550px){

    .container .div-content .left h2{
        font-size: 14px;
    }
    
    .menu-desplegable ul li a {
        font-size: 12px;
    }

    .submenu li a {
        font-size: 10px;
    }

    .graficos {
        position: relative;
        left: -90px; /* Ajusta el valor según lo necesites */
        transform: scale(0.7);
        width: 150%;
    }
    
    .tablas {
        width: 90%;
    }

    .top-footer .content-wrapper {
        padding: 0 20px;
    }

    .top-footer .left-section .bottom-container {
        margin-top: 35px;
    }
}

@media screen and(max-width: 500px) {
    .container .div-content .left h2{
        font-size: 13px;
        padding: 2px;
        width: 100%;
    }
}

@media  screen and (max-width: 475px){
    .container .div-content .left h2{
        font-size: 13px;
        padding: 2px;
        width: 100%;
    }

    .graficos {
        position: relative;
        left: -120px; /* Ajusta el valor según lo necesites */
        transform: scale(0.5);
        width: 180%;
    }

    .section.bottom-section.fixed {
        width: 85%;
    }
}


/*desde aqui falta configurar las imagenes*/
/*en 425 esta la solucion*/
@media  screen and (max-width: 425px){
   

    .container .div-content .left h2{
        font-size: 12px;
        padding: 2px;
        width: 100%;
    }

    .inner-container a .imgmid {
        width: 180px; /* Ajusta el ancho de las imágenes según tus necesidades */
        height: auto;
    }

    .inner-container a .imgser {
        margin-top: 9px;
        width: 120px; /* Ajusta el ancho de las imágenes según tus necesidades */
        height: auto;
    }

    .graficos {
        position: relative;
        left: -120px; /* Ajusta el valor según lo necesites */
        transform: scale(0.5);
        width: 200%;
    }

}

@media  screen and (max-width: 375px){
    .container .div-content .left h2{
        font-size: 12px;
        padding: 2px;
        width: 100%;
    }

    .inner-container a .imgmid {
        width: 170px; /* Ajusta el ancho de las imágenes según tus necesidades */
        height: auto;
    }

    .inner-container a .imgser {
        margin-top: 9px;
        width: 110px; /* Ajusta el ancho de las imágenes según tus necesidades */
        height: auto;
    }

}

@media  screen and (max-width: 320px){
    .container .div-content .left h2{
        font-size: 12px;
        padding: 2px;
        width: 100%;
    }

    .inner-container a .imgmid {
        width: 150px; /* Ajusta el ancho de las imágenes según tus necesidades */
        height: auto;
    }

    .inner-container a .imgser {
        margin-top: 9px;
        width: 90px; /* Ajusta el ancho de las imágenes según tus necesidades */
        height: auto;
    }

    .section.bottom-section .bottom-content .bottom-left a img{
        width: 200px;        
    }
}