@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f5f5f5;
}

#header {
    margin: 0;
    padding: 0;
    width: calc(80% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
    max-width: calc(80% - 10px);
}

#footer {
    margin: 0;
    padding: 0;
    width: calc(80% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
    max-width: calc(80% - 10px);
}

main{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    width: calc(80% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
    max-width: calc(80% - 10px);
}

.contenedor_vista_principal{
    background-color: blueviolet;
    width: 100%;
    height: auto;
    justify-content: center;
}

.caja_seccion_arriba{
    background-color:yellow;
    display: flex;
    width: 100%;
    height: 115px;
    box-sizing: border-box;
}

.caja1{
    width: 25%;
    height: 115px;
    display: flex;
    background-color: #76A56B;
    color: white;
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.caja2{
    flex: 1;
    width: 80%;
    height: 115px;
    display: flex;
    background-color: blue;
    box-sizing: border-box;
    flex-direction: column;
}

.caja3{
    width: 100%;
    height: 50%;
    display: flex;
    background-color: black;
    box-sizing: border-box;
}

.caja4{
    width: 50%;
    height: 100%;
    display: flex;
    background-color: #5D5D5D;
    color: white;
    font-size: 18px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.caja4 a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.caja5{
    width: 50%;
    height: 100%;
    display: flex;
    background-color: #5D5D5D;
    color: white;
    font-size: 18px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.caja5 a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.caja6{
    width: 100%;
    height: 50%;
    display: flex;
    background-color: rgb(255, 123, 0);
    box-sizing: border-box;
}

.caja7{
    width: 33.33%;
    height: 100%;
    display: flex;
    background-color: #D8D8D8;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.caja7 a{
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.caja9{
    width: 33.33%;
    height: 100%;
    display: flex;
    background-color: #D8D8D8;
    border-left: 1px black solid;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.caja9 a{
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.caja10{
    width: 33.33%;
    height: 100%;
    display: flex;
    background-color: #D8D8D8;
    border-left: 1px black solid;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.caja10 a{
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.caja_Seccion_medio{
    background-color: #D4F3A7;
    width: 100%;
    height: 40px;
    display: flex;
    font-weight: bold;
    color: #76A56B;
    justify-content: space-between;
    padding: 10px 0;
    text-align: center;
    align-items: center;
}

.caja_Seccion_medio .menu-toggle-container{
    background-color: transparent;
    padding: 10px;
    text-align: left;
}

.caja_Seccion_medio .menu-toggle-container .menu-toggle{
    background-color: transparent;
    color: #76A56B;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding: 10px;
    font-weight: bold;
}

.caja_Seccion_medio img {
    padding: 0 20px;
}

.caja_Seccion_medio p{
    font-size: 30px;
}

.caja_seccion_abajo{
    width: 100%;
    height: 730px;
    display: flex;
    background-color: rgb(218, 218, 210);
    justify-content: center;
    align-items: center;
}

.menu-desplegable{
    width: 250px;
    height: 100%;
    max-height: 100%; /* Altura máxima del menú */
    background-color: rgb(28, 96, 84);
    overflow-y: auto; /* Scroll vertical cuando se excede el alto máximo */
    position: relative;
    transition: width 0.2s;
    text-align: justify;
}

.menu-title {
    padding: 10px;
    font-size: 14px;
    color: #ffffff;
    white-space: normal; /* Permitir que el texto se rompa en múltiples líneas */
    word-wrap: break-word; /* Romper palabras largas */
    word-break: break-word; /* Manejar el corte de palabras largas */
    position: relative; /* Posición relativa para el ícono */
}

.menu-desplegable ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-desplegable ul li {
    position: relative;
}

.menu-desplegable ul li a {
    display: flex; /* Usar flexbox para alinear elementos */
    align-items: center; /* Alinear elementos verticalmente */
    padding: 10px;
    color: white;
    text-decoration: none;
    white-space: normal; /* Permitir que el texto se rompa en múltiples líneas */
    word-wrap: break-word; /* Romper palabras largas */
    word-break: break-word; /* Manejar el corte de palabras largas */
    position: relative; /* Posición relativa para el ícono */
}

.menu-desplegable ul li a .arrow-icon {
    position: absolute;
    right: 10px; /* Alinear a la derecha */
    bottom: 10px; /* Alinear en la parte inferior */
    font-size: 0.8em; /* Tamaño del ícono */
    font-weight: bold;
    transition: transform 0.3s; /* Transición para la animación */
}

.menu-desplegable ul li a .arrow-icon.collapsed {
    transform: rotate(90deg); /* Rotar hacia abajo cuando el submenú esté colapsado */
}

.menu-desplegable ul li a i {
    margin-right: 10px;
    vertical-align: middle; /* Alinear iconos verticalmente */
}

.menu-desplegable ul li a span {
    vertical-align: middle; /* Alinear texto verticalmente */
}

.menu-desplegable ul li a:hover {
    background-color: rgb(36, 122, 107);
}

/* Estilo del submenú */
.submenu {
    list-style-type: none;
    display: none; /* Ocultar submenú por defecto */
}

.submenu.active {
    display: block; /* Mostrar submenú activo */
}

.submenu li {
    padding-left: 30px;
    padding-right: 15px;
}

.submenu li a {
    background-color: rgb(28, 96, 84);
    font-size: 12px; /* Tamaño de fuente del submenú */
}

/* Estilo cuando el menú está colapsado */
.menu-desplegable.collapsed {
    width: 0%;
}

.menu-desplegable.collapsed ul,
.menu-desplegable.collapsed .menu-title {
    display: none;
}

.menu-desplegable.collapsed .menu-item .arrow-icon {
    right: 10px;
    display: block; /* Mostrar el icono de flecha al estar colapsado */
    transform: rotate(0deg);
}

.menu-desplegable.collapsed .menu-toggle {
    text-align: center;
}

.menu-desplegable.collapsed .menu-toggle i {
    margin-right: 0;
    display: block; /* Mostrar el icono del menú al estar colapsado */
}

.menu-desplegable.collapsed .menu-toggle span {
    display: none; /* Ocultar el texto del menú al estar colapsado */
}


.caja12{
    width: 85%;
    height: 100%;
    background-color: #9dff00;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.caja12.collapsed{
    width: 100%;
}

.caja13{
    width: 100%;
    height: 96%;
    display: flex;
    background-color: rgb(218, 218, 210);
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.caja14{
    width: 100%;
    height: 4%;
    background-color: rgb(218, 218, 210);
    color: #8C8C8C;
    box-sizing: border-box;
}

.caja15{
    padding: 3px;
    width: 95%;
    height: 95%;
    display: flex;
    background-color: white;
}

i{
    margin-right: 10px;
    font-size: 18px;
}

img{
    height: 30px;
}