@media screen and (max-width: 2560px){
    .contenedor_vista_principal .div-content .left h2{
        font-size: 22px;
    }  
}

@media screen and (max-width: 1600px) {
    .contenedor_vista_principal .div-content .left h2{
        font-size: 20px;
    }

    .section.bottom-section.fixed {
        width: 71.6%;
    }
}

@media  screen and (max-width: 1440px){
    
    .contenedor_vista_principal .div-content .left h2{
        font-size: 20px;
    }

    .section.bottom-section.fixed {
        width: 71.5%;
    }

    .contenedor-card .seccion2 .titulo p{
        font-size: 14px;
    }
}


@media screen and (max-width: 1366px) {
    #header {
        width: calc(85% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(85% - 10px);
    }

    #footer {
        width: calc(85% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(85% - 10px);
    }

    .contenedor_vista_principal .div-content .left h2{
        font-size: 20px;
    }

    .right .right-column a{
        font-size: 14px;
    }
    
    .section.bottom-section.fixed {
        width: 84.3%;
    }
    
    main{
        width: calc(85% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(85% - 10px);
    }
        
    .contenedor-cards .contenedor-card {
        width: calc(33.33% - 20px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(33.33% - 20px);
    }
}

@media screen and (max-width: 1280px) {
    #header {
        width: calc(95% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(95% - 10px);
    }

    #footer {
        width: calc(95% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(95% - 10px);
    }

    main{
        width: calc(95% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(95% - 10px);
    }

    .section.bottom-section.fixed {
        width: 94.2%;
    }

    .contenedor_vista_principal .div-content .left h2{
        font-size: 20px;
    }
    
    .right .right-column a{
        font-size: 16px;
    }
}

@media screen and (max-width: 1024px) {
    .bottom-right nav ul li,
    .bottom-right nav ul li .dropbtn{
        font-size: 15px;
    }
    
    .section.bottom-section.fixed {
        width: 94%;
    }

    .contenedor_vista_principal .div-content .left h2{
        font-size: 18px;
    }
    
    .contenedor-cards .contenedor-card{
        width: calc(50% - 20px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(50% - 20px);

    }
}

@media screen and (max-width: 800px) {
    #header {
        width: calc(100% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(100% - 10px);
    }

    .bottom-left {
        width: 30%; /* Cada sección ocupa el 50% del ancho de bottom-content */
    }

    .bottom-right {
        width: 70%; /* Cada sección ocupa el 50% del ancho de bottom-content */
    }

    .bottom-right nav ul li {
        font-size: 15px;
    }
    
    #footer {
        width: calc(100% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(100% - 10px);
    }

    main{
        width: calc(100% - 10px); /* Ancho máximo de cada contenedor (25% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(100% - 10px);
    }

    .contenedor_vista_principal .div-content .left h2{
        font-size: 17px;
    }
    
    .right .right-column a{
        font-size: 13px;
    }
    
    .caja_Seccion_medio .titulo_imagen{
        font-size: 38px;
    }

    .section.bottom-section.fixed {
        width: 95.2%;
    }

    .contenedor-card .seccion2 .titulo p{
        font-size: 13px;
    }
}

@media  screen and (max-width: 768px){

    .bottom-right nav ul .ocultar {
        display: none;
    }
    
    .contenedor_vista_principal .div-content .left h2{
        font-size: 16px;
    }

    .contenedor-card .seccion2 .titulo p{
        font-size: 13px;
    }

    .section.bottom-section.fixed {
        width: 94.3%;
    }
}

@media  screen and (max-width: 690px){
    .contenedor_vista_principal .div-content .left h2{
        font-size: 15px;
    }

    .section.bottom-section.fixed {
        width: 91.6%;
    }
}

@media  screen and (max-width: 550px){
    .contenedor_vista_principal .div-content .left h2{
        font-size: 14px;
    }

    .contenedor-card .seccion2 .titulo p{
        font-size: 13px;
    }

    .top-footer .content-wrapper {
        padding: 0 20px;
    }

    .top-footer .left-section .bottom-container {
        margin-top: 35px;
    }
    
    .contenedor-cards .contenedor-card{
        width: calc(100% - 20px); /* Ancho máximo de cada contenedor (100% del ancho del padre menos el espacio entre ellos) */
        max-width: calc(100% - 20px);

    }

    .section.bottom-section.fixed {
        width: 83.3%;
    }
}



@media  screen and (max-width: 500px){
    .inner-container a img {
        width: 140px; /* Ajusta el ancho de las imágenes según tus necesidades */
        height: auto;
    }

    .caja_Seccion_medio .titulo_imagen{
        font-size: 25px; 
    }

    .contenedor_vista_principal .div-content .left h2{
        font-size: 14px;
    }

    .section.bottom-section.fixed {
        width: 80.6%;
    }
    
    .top-footer .content-wrapper {
        padding: 0 20px;
    }

    .top-footer .left-section .bottom-container {
        margin-top: 35px;
    }
}


@media  screen and (max-width: 475px){

    .contenedor_vista_principal .div-content .left h2{
        font-size: 13px;
        padding: 2px;
        width: 100%;
    }

    .section.bottom-section.fixed {
        width: 79%;
    }

}

@media  screen and (max-width: 425px){
    .inner-container a img {
        width: 140px; /* Ajusta el ancho de las imágenes según tus necesidades */
        height: auto;
    }

    .caja_Seccion_medio .titulo_imagen{
        font-size: 25px; 
    }
    

    .contenedor_vista_principal .div-content .left h2{
        font-size: 12px;
        padding: 2px;
        width: 100%;
    }

    .inner-container a .imgmid {
        width: 180px; /* Ajusta el ancho de las imágenes según tus necesidades */
        height: auto;
    }

    .inner-container a .imgser {
        margin-top: 9px;
        width: 120px; /* Ajusta el ancho de las imágenes según tus necesidades */
        height: auto;
    }

    .section.bottom-section.fixed {
        width: 97.6%;
    }
    
    .left-section .bottom-container{
        transform: translate(42%);
    }

}

@media  screen and (max-width: 375px){
    .caja_Seccion_medio .titulo_imagen{
        font-size: 20px; 
    }

    .div-content .left h2{
        font-size: 17px;

    }

    .inner-container a .imgmid {
        width: 170px; /* Ajusta el ancho de las imágenes según tus necesidades */
        height: auto;
    }

    .inner-container a .imgser {
        margin-top: 9px;
        width: 110px; /* Ajusta el ancho de las imágenes según tus necesidades */
        height: auto;
    }

    .section.bottom-section.fixed {
        width: 97.3%;
    }

    .top-footer .content-wrapper{
        width: 278px;
    }

    .left-section .bottom-container{
        transform: translate(20%);
    }

    .left-section .top-container{
        font-size: 14px;
    }
}

@media  screen and (max-width: 320px){
    .contenedor_vista_principal .div-content .left h2{
        font-size: 12px;
        padding: 2px;
        width: 100%;
    }
    
    .inner-container a .imgmid {
        width: 150px; /* Ajusta el ancho de las imágenes según tus necesidades */
        height: auto;
    }

    .inner-container a .imgser {
        margin-top: 9px;
        width: 90px; /* Ajusta el ancho de las imágenes según tus necesidades */
        height: auto;
    }

    .section.bottom-section .bottom-content .bottom-left a img{
        width: 200px;        
    }

    .caja_Seccion_medio .titulo_imagen{
        font-size: 20px; 
    }

    .top-footer .content-wrapper {
        display: flex;
        flex-wrap: wrap; /* Permitir que los elementos se envuelvan en pantallas pequeñas */
        justify-content: space-between;
        padding: 0 10px;
        width: 250px;
    }
    
    .section.bottom-section.fixed {
        width: 96.9%;
    }

    .left-section{
        height: 100%;
    }

    .right-section img{
        width: 100px;
        height: auto;
    }

    .bottom-footer p{
        font-size: 11px;
    }
    
    .left-section .bottom-container{
        transform: translate(20%);
    }
}
