<footer>
    <div class="footer-section top-footer">
        <div class="content-wrapper">
            <div class="left-section">
                <div class="top-container">
                    <h3>SNIFFS Módulo de Gestión del Conocimiento</h3>
                </div>
                <div class="bottom-container">
                    <div>
                        <h4>DIRECCIÓN:</h4>
                        <p>Avenida Javier Prado Oeste N° 2442 Urb. Orrantia Magdalena del Mar. Lima 17 – Lima, Perú</p>
                    </div>
                    <div>
                        <h4>TELÉFONO:</h4>
                        <p>(+511) 225 9005</p>
                    </div>
                    <div>
                        <h4>CORREO:</h4>
                        <p>conocimientoaldia@serfor.gob.pe</p>
                    </div>
                </div>
            </div>
            <div class="right-section">
                <img src="../../img/logos/midagri.jpg" alt="Primera Imagen">
                <img src="../../img/logos/serfor.png" alt="Segunda Imagen">
            </div>
        </div>
    </div>
    <div class="divider"></div> <!-- Línea divisoria -->
    <div class="footer-section bottom-footer">
        <p>Copyright © <span id="current-year"></span> SNIFFS - todos los derechos reservados</p>
    </div>
</footer>