<footer>
    <div class="footer-section top-footer">
        <div class="content-wrapper">
            <div class="left-section">
                <div class="top-container">
                    <h3>SNIFFS Módulo de Gestión del Conocimiento</h3>
                </div>
                <div class="bottom-container">
                    <div>
                        <h4>DIRECCIÓN:</h4>
                        <p>Avenida Javier Prado Oeste N° 2442 Urb. Orrantia Magdalena del Mar. Lima 17 – Lima, Perú</p>
                    </div>
                    <div>
                        <h4>TELÉFONO:</h4>
                        <p>(+511) 225 9005</p>
                    </div>
                    <div>
                        <h4>CORREO:</h4>
                        <p>conocimientoaldia@serfor.gob.pe</p>
                    </div>
                </div>
            </div>
            <div class="right-section">
                <a href="https://www.gob.pe/midagri" target="_blank"><img class="imgmid" src="img/logos/midagri.png" alt="MIDAGRI"></a>
                <a href="https://www.gob.pe/serfor" target="_blank"><img class="imgser" src="img/logos/footer_serfor.png" alt="SERFOR"></a>
            </div>
        </div>
    </div>
</footer>