<footer>
    <div class="footer-section top-footer">
        <div class="content-wrapper">
            <div class="left-section">
                <p>Contenido de la sección izquierda del footer</p>
            </div>
            <div class="right-section">
                <img src="ruta/a/tu/primera-imagen.jpg" alt="Primera Imagen">
                <img src="ruta/a/tu/segunda-imagen.jpg" alt="Segunda Imagen">
            </div>
        </div>
    </div>
    <div class="divider"></div> <!-- Línea divisoria -->
    <div class="footer-section bottom-footer">
        <p>Copyright © <span id="current-year"></span> SNIFFS - todos los derechos reservados</p>
    </div>
</footer>
