<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Vincular el archivo CSS del encabezado -->
    <link rel="stylesheet" href="../css/header.css">
</head>
<body>
    <header>
        <!-- Primera sección (arriba) -->
        <div class="section top-section">
            <div class="inner-container">
                <a href="#"><img src="../img/logo_ministerio.jpg" alt="Left Image"></a>
                <a href="#"><img src="../img/serfor-1-1.png" alt="Right Image"></a>
            </div>
        </div>

        <!-- Segunda sección (centro) -->
        <div class="section middle-section">
            <p>Segunda sección (centro)</p>
        </div>

        <!-- Tercera sección (abajo) -->
        <div class="section bottom-section">
            <p>Tercera sección (abajo)</p>
        </div>
    </header>
</body>
</html>
