<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Vincular el archivo CSS del encabezado -->
    <link rel="stylesheet" href="../css/header.css">
</head>
<body>
    <header>
        <!-- Primera sección (arriba) -->
        <div class="section top-section">
            <div class="inner-container">
                <a href="#"><img src="../img/logo_ministerio.jpg" alt="Left Image"></a>
                <a href="#"><img src="../img/serfor-1-1.png" alt="Right Image"></a>
            </div>
        </div>

        <!-- Segunda sección (centro) -->
        <div class="section middle-section">
            <div class="middle-content">
                <div class="icon-container">
                    <a href="#"><i class="fa-solid fa-envelope"></i></a>
                    <div class="separator"></div>
                    <a href="#"><i class="fa-solid fa-globe"></i></a>
                    <div class="separator"></div>
                    <a href="#"><i class="fa-solid fa-user"></i></a>
                </div>
            </div>
        </div>

        <!-- Tercera sección (abajo) -->
        <div class="section bottom-section">
            <div class="bottom-content">
                <div class="bottom-left">
                    <a href="#"><img src="../img/logo_mmpf_2.png" alt="Bottom Left Image"></a>
                </div>
                <div class="bottom-right">
                    <nav>
                        <ul>
                            <li><a href="#">Opción 1</a></li>
                            <li><a href="#">Opción 2</a></li>
                            <li><a href="#">Opción 3</a></li>
                            <li><a href="#">Opción 4</a></li>
                            <li><a href="#">Opción 5</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
</body>
</html>
