<header>
    <!-- Primera sección (arriba) -->
    <div class="section top-section">
        <div class="inner-container">
            <a href="https://www.gob.pe/midagri" target="_blank"><img class="imgmid" src="../../img/logos/midagri.png" alt="MIDAGRI"></a>
            <a href="https://www.gob.pe/serfor" target="_blank"><img class="imgser" src="../../img/logos/serfor.png" alt="SERFOR"></a>
        </div>
    </div>

    <!-- Segunda sección (centro) -->
    <div class="section middle-section">
        <div class="middle-content">
            <div class="icon-container">
                <a href="../../#contacto"><i class="fa-solid fa-envelope"></i></a>
                <div class="separator"></div>
                <div class="translate-container">
                    <div id="google_translate_element"></div>
                    <a href="#" class="translate-link" id="translateLink">
                        <i class="fa-solid fa-globe"></i>
                    </a>
                </div>
                <div class="separator"></div>
                <a href="#"><i class="fa-solid fa-user"></i></a>
            </div>
        </div>
    </div>

    <!-- Tercera sección (abajo) -->
    <div class="section bottom-section">
        <div class="bottom-content">
            <div class="bottom-left">
                <a href="https://sniffs.serfor.gob.pe/conocimiento/"><img src="../../img/logos/sniffs-mk.png" alt="MK SNIFFS"></a>
            </div>
            <div class="bottom-right">
                <nav>
                    <ul>
                        <li class="ocultar"><a href="../../#inicio">INICIO</a></li>
                        <li class="ocultar">
                            <div class="dropdown">
                                <button class="dropbtn">TEMÁTICAS  &nbsp;&nbsp;<i class="fa-solid fa-caret-down"></i></button>
                                <div class="dropdown-content" id="tematicas-menu">
                                    <!-- Los enlaces se llenarán dinámicamente con JavaScript -->
                                    <a href="#">Cargando...</a>
                                </div>
                            </div> 
                        </li>
                        <li class="ocultar"><a href="../../#acerca_de">ACERCA DE</a></li>
                        <li><a href="https://sniffs.serfor.gob.pe/inicio/">SNIFFS</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>